.top-container{
    background-color: #68B0AB;
    position: relative;
    padding-top: 15%;
}
.middle-container{
    background-color: teal;
    position: relative;
    
} 
.bottom-container{
    background-color: thistle;
    position: relative;  
} 
body{
    margin: 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
h1{
    margin-top: 0;
    font-family: 'Grenze Gotisch', cursive;
}

p{
    font-family: 'Ranchers', cursive;
}

h2{
    font-family: 'Grandstander', cursive;
}

h3{
    font-family: 'Grandstander', cursive;
}

#bot-cloud-1{
    position: absolute;
    left: 300px;
    top: 220px;

}

#bot-cloud-2{
    position: absolute;
    right: 350px;
    top: 200px;

}

#bot-cloud-3{
    position: absolute;
    left: 60px;
    top: 300px;

}

#top-cloud-1{
    position: absolute;
    right: 300px;
    top: 50px;
}

#top-cloud-2{
    position: absolute;
    top: 100px;
    left: 200px;
}

#top-cloud-3{
    position: absolute;
    right: 100px;
    top: 300px
}

.description-photos{
    height: 15%;
    width: 15%;
}

#description-paragraph{
    width: 30%;
    margin: auto;
}

#skills-photo{
    position: relative;
    display: inline;
    right: 35%;
    
}

#skills-header{
    position: absolute;
    display: inline;
    left: 10%;
    top: 38%;
}

#skills-list{
    position: relative;
    display: inline;
    bottom: 190px;
    left:30%;
    text-align: left;
    font-family: 'Ranchers', cursive;
}
